#outerContainer

  #mainContainer
    %div.toolbar
      #toolbarContainer
        #toolbarViewer
          #toolbarViewerLeft
          #toolbarViewerRight
          .outerCenter
            %div{:id => 'toolbarViewerMiddle', :class => 'innerCenter'}
    #viewerContainer
      #viewer
        %h1 GlobalNames Resolution Demonstration
        #uploadForm
          - if flash[:notice]
            #flash_notice= flash[:notice]
          - if flash[:error]
            #flash_error= flash[:error]
          - if flash[:warning]
            #flash_warning= flash[:warning]

          %form{:action => "/reconciler", :method => "post", :enctype=>"multipart/form-data", "accept-charset"=>"UTF-8"}
            %div
              %label{:for => 'file'} PDF
              %input{:type => :file, :name => "file", :id => :file, :size => 30}
            %div
              %input{:class => 'submit-button green-submit', :type => :submit, :value => "Resolve Names"}

          #description
            Uploaded PDFs are sent to the
            = succeed " web service." do
              %a{:href => 'http://gnrd.globalnames.org'} Global Names Recognition and Discovery 
            Scientific names found within the document are then reconciled against the comprehensive Union classification using the
            = succeed " web service." do
              %a{:href => 'http://resolver.globalnames.org'} Global Names Resolver
            If the PDF is text-based, names within the document are marked-up to illustrate current taxonomic usage.

          %div WARNING: This application requires a modern browser.